<div>
  <h2 id="page-heading" data-cy="SubTimeCapsuleHeading">
    <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.home.title">Sub Time Capsules</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sub-time-capsule"
        [routerLink]="['/sub-time-capsule/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.home.createLabel"> Create a new Sub Time Capsule </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subTimeCapsules?.length === 0">
    <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.home.notFound">No Sub Time Capsules found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="subTimeCapsules && subTimeCapsules.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subtimecapsuleid">
            <div class="d-flex">
              <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.subtimecapsuleid">Subtimecapsuleid</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="subtimecapsulename">
            <div class="d-flex">
              <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.subtimecapsulename">Subtimecapsulename</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdate">
            <div class="d-flex">
              <span jhiTranslate="oneTimaCapsuleApp.subTimeCapsule.createdate">Createdate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subTimeCapsule of subTimeCapsules; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sub-time-capsule', subTimeCapsule.id, 'view']">{{ subTimeCapsule.id }}</a>
          </td>
          <td>{{ subTimeCapsule.subtimecapsuleid }}</td>
          <td>{{ subTimeCapsule.subtimecapsulename }}</td>
          <td>{{ subTimeCapsule.description }}</td>
          <td>{{ subTimeCapsule.createdate | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sub-time-capsule', subTimeCapsule.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sub-time-capsule', subTimeCapsule.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(subTimeCapsule)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
