<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="verifToken">
      <h2 data-cy="verifTokenDetailsHeading"><span jhiTranslate="oneTimaCapsuleApp.verifToken.detail.title">Verif Token</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ verifToken.id }}</span>
        </dd>
        <dt><span jhiTranslate="oneTimaCapsuleApp.verifToken.tokenid">Tokenid</span></dt>
        <dd>
          <span>{{ verifToken.tokenid }}</span>
        </dd>
        <dt><span jhiTranslate="oneTimaCapsuleApp.verifToken.token">Token</span></dt>
        <dd>
          <span>{{ verifToken.token }}</span>
        </dd>
        <dt><span jhiTranslate="oneTimaCapsuleApp.verifToken.expirydate">Expirydate</span></dt>
        <dd>
          <span>{{ verifToken.expirydate | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="oneTimaCapsuleApp.verifToken.userid">Userid</span></dt>
        <dd>
          <span>{{ verifToken.userid?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/verif-token', verifToken.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
