<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vote-heading" data-cy="VoteCreateUpdateHeading" jhiTranslate="oneTimaCapsuleApp.vote.home.createOrEditLabel">
        Create or edit a Vote
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.vote.voteType" for="field_voteType">Vote Type</label>
          <select class="form-control" name="voteType" formControlName="voteType" id="field_voteType" data-cy="voteType">
            <option [ngValue]="null">{{ 'oneTimaCapsuleApp.VoteType.null' | translate }}</option>
            <option *ngFor="let voteType of voteTypeValues" [value]="voteType">
              {{ 'oneTimaCapsuleApp.VoteType.' + voteType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.vote.userid" for="field_userid">Userid</label>
          <select
            class="form-control"
            id="field_userid"
            data-cy="userid"
            name="userid"
            formControlName="userid"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.vote.postid" for="field_postid">Postid</label>
          <select
            class="form-control"
            id="field_postid"
            data-cy="postid"
            name="postid"
            formControlName="postid"
            [compareWith]="comparePost"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="postOption" *ngFor="let postOption of postsSharedCollection">{{ postOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
