<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-post-heading" data-cy="PostCreateUpdateHeading" jhiTranslate="oneTimaCapsuleApp.post.home.createOrEditLabel">
        Create or edit a Post
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.post.postid" for="field_postid">Postid</label>
          <input type="text" class="form-control" name="postid" id="field_postid" data-cy="postid" formControlName="postid" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.post.postname" for="field_postname">Postname</label>
          <input type="text" class="form-control" name="postname" id="field_postname" data-cy="postname" formControlName="postname" />
          <div *ngIf="editForm.get('postname')!.invalid && (editForm.get('postname')!.dirty || editForm.get('postname')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('postname')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.post.url" for="field_url">Url</label>
          <input type="text" class="form-control" name="url" id="field_url" data-cy="url" formControlName="url" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.post.descrption" for="field_descrption">Descrption</label>
          <input
            type="text"
            class="form-control"
            name="descrption"
            id="field_descrption"
            data-cy="descrption"
            formControlName="descrption"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.post.votecount" for="field_votecount">Votecount</label>
          <input type="number" class="form-control" name="votecount" id="field_votecount" data-cy="votecount" formControlName="votecount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.post.userid" for="field_userid">Userid</label>
          <select
            class="form-control"
            id="field_userid"
            data-cy="userid"
            name="userid"
            formControlName="userid"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="oneTimaCapsuleApp.post.subTimeCapsule" for="field_subTimeCapsule">Sub Time Capsule</label>
          <select
            class="form-control"
            id="field_subTimeCapsule"
            data-cy="subTimeCapsule"
            name="subTimeCapsule"
            formControlName="subTimeCapsule"
            [compareWith]="compareSubTimeCapsule"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="subTimeCapsuleOption" *ngFor="let subTimeCapsuleOption of subTimeCapsulesSharedCollection">
              {{ subTimeCapsuleOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
